header {
  height: 10rem;
  padding-left: 10rem;
  background-color: orange;
}

header h1 {
  padding-top: 2rem;
}

header h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header h6 {
  font-size: 14px;
}

nav label {
  font-weight: bold;
}

nav {
  background-color: antiquewhite;
}

footer {
  position: fixed;
  bottom: 0;
  margin-left: 100px;
  margin-right: auto;
}

.outline {
  border: 2px solid black;
}

.movie-image {
  display: flex;
  justify-content: center;
  margin: 8px;
}

#containerSection {
  background-color: gray;
}

.movie-image {
  display: flex;
  justify-content: center;
  margin: 8px;
  margin-top: 15px;
}

#movieInfoContainer {
  display: grid;
}

#movieCardTitle {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

#movieYear {
  justify-self: center;
  margin-top: 3px;
}

.movieCardActors {
  justify-self: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.row > .element {
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0; /* without this it breaks even more*/
}
.chart {
  border: 1px solid white;
}

:root {
  --primary: #2a9d8f;
  --secondary: #e76f51;
  --dark: #264653;
  --light: #e9c46a;
}

#card-container {
  width: 110%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.posterSize {
  width: 200px;
  height: 280px;
  margin-top: 10px;
  justify-self: center;
  align-self: baseline;
}

.spread {
  width: 100%;
}

.card {
  margin: 8px;
  width: 310px;
  height: 400px;
  perspective: 1000px;
  display: flex;
  align-content: center;
  position: relative;
}
.card_inner {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: 2s ease;
}
.topCard {
  z-index: 100;
}
.bottomCard {
  z-index: 0;
}

.card_front {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  border-radius: 16px;
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--dark)
  );
  flex-wrap: wrap;
}
.card_front h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 16px;
  justify-items: center;
}

.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  background-image: linear-gradient(
    to bottom left,
    var(--primary),
    var(--dark)
  );
  border-radius: 16px;
  align-self: center;
  backface-visibility: hidden;
}
.card_back p {
  font-size: 20px;
}

#movieYear {
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
  justify-content: center;
}

/* Page colors */
html {
  background-color: #264653;
}

nav {
  background-image: linear-gradient(white, #e9c46a, #f4a261);
}
#list_movies {
  background-image: linear-gradient(#f4a261, white);
}
#graphs_holder_css {
  background-image: linear-gradient(white, #f4a261, #264653);
  background-color: #f4a261;
}

#card_holder {
  background-color: #2a9d8f;
}

#footer_conatiner {
  background-color: #264653;
}
