body {
    background-color: teal;

}


header {
    height: 10rem;
    padding-left: 10rem;
    background-color: orange;
}

header h1 {
    padding-top: 2rem;
}

nav label {
    font-weight: bold;
}

nav {
    background-color: antiquewhite;
}

/* Formatting out the card and it's elements appearance */
.outline {
    border: 2px solid black;
}

.card-format {
    background-color: rgb(204, 201, 201);
    margin: 8px;
    display: flex;
    
}


.movie-image{
    display: flex;
    justify-content: center;
    margin: 8px;
}
/* .total-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-wrap:initial;
    margin: 20px;
    width: 1000px;
    max-height:fit-content;
  } */


